<div class="page-header">
  <p>ログインが必要です</p>
</div>


<div class="container">
  <%= form_for(:session, url: login_path) do |f|%>
  <div class="row">
    <div class="col-sm-4">chatworkid</div>
    <div class="col-sm-8" style="padding: 3px;">
      <% f.label :chatworkid %>
      <%= f.text_field :chatworkid, class:'form-control'%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">パスワード</div>
    <div class="col-sm-8" style="padding: 3px;">
      <% f.label :password %>
      <%= f.password_field :password, class:'form-control'%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3 col-sm-6 col-xs-6" style="padding=10px;">
      <div class="class=text-center">
        <%= f.submit 'ログイン',class: 'btn btn-primary btn-lg btn-block', data: { disable_with: 'ログイン中' } %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6" style="padding=10px;">
      <div class="class=text-center">
        <%= link_to '戻る',"/users",class:'btn btn-default btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div>
