<div class="page-header">
  <p>編集ページ</p>
</div>

<div class="container">
  <%= form_for(@user) do |f|%>
  <div class="row">
    <div class="col-md-4">名前</div>
    <div class="col-md-8" style="padding: 3px;">
      <%= f.text_field :name, class:'form-control'%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">チャットワークID</div>
    <div class="col-md-8" style="padding: 3px;">
      <%= f.text_field :chatworkid, class:'form-control'%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">ログインid</div>
    <div class="col-md-8" style="padding: 3px;">
      <%= f.text_field :login_id, class:'form-control'%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">パスワード(6文字以上)</div>
    <div class="col-md-8" style="padding: 3px;">
      <%= f.password_field :password, class:'form-control'%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">パスワード(確認)</div>
    <div class="col-md-8" style="padding: 3px;">
      <%= f.password_field :password_confirmation, class:'form-control'%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-3 col-sm-6 col-xs-6" style="padding=10px;">
      <div class="class=text-center">
        <%= f.submit '更新',class: 'btn btn-primary btn-lg btn-block', data: { disable_with: '更新中' } %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6" style="padding=10px;">
      <div class="class=text-center">
        <%= link_to '戻る',"/users",class:'btn btn-default btn-lg btn-block' %>
      </div>
    </div>
  </div>

</div>
