<%now = Time.zone.now %>
<div class="page-header">
  新規作成ページ
</div>

<div class="container">
  <%= form_for(@user) do |f|%>
  <div class="row">
    <div class="col-sm-2">名前</div>
    <div class="col-sm-10 form-inline" style="padding: 3px;">
      <%= f.text_field :name, class:'form-control'%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">パスワード</div>
    <div class="col-sm-10 form-inline" style="padding: 3px;">
      <%= f.text_field :password, class:'form-control'%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">チャットワークID</div>
    <div class="col-sm-10 form-inline" style="padding: 3px;">
      <%= f.text_field :chatworkid, class:'form-control'%>
    </div>
  </div>


  <div class="text-center" style="padding: 10px;">
    <%= f.submit '作成',class: 'btn', data: { disable_with: '作成中' } %>
  </div>
  <% end %>
</div>
